  Criação do db e tabelas

In [3]:
import sqlite3

conn = sqlite3.connect('espm.db')

cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS autor(
        id_autor INTEGER PRIMARY KEY AUTOINCREMENT,
        nome VARCHAR(50)
    );
""")

cursor.execute("""
CREATE TABLE post(
        id_post INTEGER PRIMARY KEY AUTOINCREMENT,
        id_autor INT,
        titulo VARCHAR(50),
        data DATETIME DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (id_autor) REFERENCES autor(id_autor)
    )
;
""")

conn.commit()

print('Tabela criado com sucesso')

conn.close()

Tabela criado com sucesso

Criação autores

In [5]:
conn = sqlite3.connect('espm.db')

cursor = conn.cursor()

nome = input('Digite o nome do autor: ')

cursor.execute("INSERT into autor (nome) VALUES(?)",
    (nome,))
conn.commit()

cursor.execute('SELECT * from autor')
print(cursor.fetchall())


conn.close()

Digite o nome do autor: bruno
[(1, 'joao'), (2, 'bruno')]

Criação posts

In [6]:
conn = sqlite3.connect('espm.db')

cursor = conn.cursor()

cursor.execute('SELECT * from autor')
print(cursor.fetchall())

titulo = input('titulo do post:')
id = int(input('id do autor do post:'))

cursor.execute("SELECT * from autor WHERE id_autor = ?", (id,))
idAutores = cursor.fetchall()

if(len(idAutores) > 0):
  cursor.execute("INSERT into post (id_autor, titulo) VALUES(?, ?)",
    (idAutores[0][0], titulo))
  conn.commit()
  print('post feito!')
else:
  print('autor do post não existe')

cursor.execute('SELECT * from post')
print(cursor.fetchall())

conn.close()

[(1, 'joao'), (2, 'bruno')]
titulo do post:opa
id do autor do post:2
post feito!
[(1, 2, 'opa', '2024-03-19 11:24:53')]

update autor

In [8]:
conn = sqlite3.connect('espm.db')

cursor = conn.cursor()

cursor.execute('SELECT * from autor')
print(cursor.fetchall())

nomeAntigo = int(input('id do autor que deseja alterar: '))

cursor.execute("SELECT * from autor WHERE id_autor = ?", (nomeAntigo,))
idAutores = cursor.fetchall()

if(len(idAutores) > 0):
  nome = input('novo nome:')
  cursor.execute("UPDATE autor SET nome = ? WHERE id_autor = ?", (nome,nomeAntigo))
  conn.commit()
  print('autor atualizado!')
else:
  print('autor não encontrado')

cursor.execute('SELECT * from autor')
print(cursor.fetchall())
conn.close()

[(1, 'joao'), (2, 'bruno')]
id do autor que deseja alterar: 2
novo nome:john
autor atualizado!
[(1, 'joao'), (2, 'john')]

update posts

In [9]:
conn = sqlite3.connect('espm.db')

cursor = conn.cursor()

cursor.execute("SELECT * from post")
posts = cursor.fetchall()
print(posts)

postAntigo = int(input('id do post que deseja alterar: '))
cursor.execute('SELECT * from post WHERE id_post = ?', (postAntigo,))
idPosts = cursor.fetchall()

if(len(idPosts) > 0):
  titulo = input('novo título:')
  cursor.execute("UPDATE post SET titulo = ? WHERE id_post = ?", (titulo,idPosts[0][0]))
  conn.commit()
  print('post atualizado!')
else:
  print('post não encontrado')

cursor.execute("SELECT * from post")
posts = cursor.fetchall()
print(posts)

conn.close()

[(1, 2, 'opa', '2024-03-19 11:24:53')]
id do post que deseja alterar: 1
novo título:festa no tamer
post atualizado!

# DELETE autor

In [15]:
conn = sqlite3.connect('espm.db')

cursor = conn.cursor()

cursor.execute('SELECT * from autor')
print(cursor.fetchall())

id = int(input('id do autor a deletar: '))

cursor.execute('DELETE from autor WHERE id_autor = ?', (id, ))

print('autor deletado')

cursor.execute('SELECT * from autor')
print(cursor.fetchall())

conn.close()

[(1, 'joao'), (2, 'john')]
id do autor a deletar: 2
autor deletado
[(1, 'joao')]

DELETE post

In [17]:
conn = sqlite3.connect('espm.db')

cursor = conn.cursor()

cursor.execute('SELECT * from post')
print(cursor.fetchall())

id = int(input('id do post a deletar: '))

cursor.execute('DELETE from post WHERE id_post = ?', (id,))

print('post deletado')

cursor.execute('SELECT * from post')
print(cursor.fetchall())
conn.close()

[(1, 2, 'festa no tamer', '2024-03-19 11:24:53')]
id do post a deletar: 1
post deletado
[]