In [2]:
print('ola')

ola

# Tipos Básicos & Exibição de Dados

In [9]:
print(True)
print(False)
print(1.2 + 1)
print('Aqui eu falo na minha lingua')
print("tambem funciona")
print('Você é ' + 3 * 'muito ' + 'legal!')
print([1, 2, 3])
print({'nome': 'Pedro', 'idade': 22})
print(None)
print(0)
print('')
print(None)

True
False
2.2
Aqui eu falo na minha lingua
tambem funciona
Você é muito muito muito legal!
[1, 2, 3]
{'nome': 'Pedro', 'idade': 22}
None
0

None

In [12]:
a = 10
#b = 5.2

print(type(a))
#print(type(b))

a = 5.2
print(type(a))

a = 'Agora sou uma string!'
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [19]:
# manipulação de String

dir(str)

nome = 'André Insardi'

nome

'André Insardi' == "André Insardi"

texto = 'Texto entre apostrófos pode ter "aspas"'
texto

doc = """Texto com múltiplas
... linhas"""
print(doc)

Texto com múltiplas
... linhas

In [35]:
nome ='Um nome qualquer'

nome[0]
nome[6]
nome[-3]
nome[4:]
nome[-5:]
nome[:3]
nome[2:5]

numeros = '1234567890'
numeros[::]
numeros[::2]
numeros[1::2]
numeros[::-1]
numeros[::-2]

'08642'

In [48]:
frase = 'Python é uma linguagem excelente'

'py' in frase
'ing' in frase
'zzz' not in frase

len(frase)
frase.lower()
frase.upper()

frase.split()
frase.split('e')

['Python é uma linguag', 'm ', 'xc', 'l', 'nt', '']

In [57]:
# operadores aritimeticos

print(2 + 3)
print(4 - 7)
print(2 * 5.3)
print(9.4 / 3)
print(10 // 3)
print(10 % 3)
print(2 ** 8)
print(3 ** 2)
print(9 ** (1/2))

5
-3
10.6
3.1333333333333333
3
1
256
9
3.0

# Lista

In [21]:
lista = []
type(lista)
dir(lista)
lista.append(1)
lista.append(5)
lista


nova_lista = [1, 5, 'Ana', 'Bia']  
nova_lista 
type(nova_lista)

nova_lista.append(3.1415)
nova_lista
# nova_lista.append(3.1415,'andre')
nova_lista.append([3.1415,'andre'])
nova_lista
nova_lista.append('Luiz')
print(nova_lista)

print(nova_lista[3])
print(nova_lista[5])
print(nova_lista[5][1])
print(nova_lista[5][1][1:4])
print(nova_lista[5][1][1:4][1])

nova_lista.index('Luiz')
# nova_lista.index('andre')
nova_lista.insert(2, 'Insardi')
print(nova_lista)
len(nova_lista)

[1, 5, 'Ana', 'Bia', 3.1415, [3.1415, 'andre'], 'Luiz']
Bia
[3.1415, 'andre']
andre
ndr
d
[1, 5, 'Insardi', 'Ana', 'Bia', 3.1415, [3.1415, 'andre'], 'Luiz']

8

# Tupla

In [22]:
tupla = ()

cores = ('verde', 'amarelo', 'azul', 'branco')
cores[0]

'verde'

# Dicionário

In [37]:
pessoa = {'nome': 'Prof(a). Ana', 'idade': 38, 'cursos': ['Inglês', 'Português']}
type(pessoa)

print(pessoa)
print(pessoa['nome'])
print(pessoa['idade'])
print(pessoa['cursos'])
print(pessoa['cursos'][1]) 

pessoa.update({'idade': 40, 'Sexo': 'F'})

print(pessoa)

pessoa['idade'] = 25
print(pessoa)

pessoa['cursos'].append('Python')
print(pessoa)

pessoa.get('idade')
pessoa.get('tag')

{'nome': 'Prof(a). Ana', 'idade': 38, 'cursos': ['Inglês', 'Português']}
Prof(a). Ana
38
['Inglês', 'Português']
Português
{'nome': 'Prof(a). Ana', 'idade': 40, 'cursos': ['Inglês', 'Português'], 'Sexo': 'F'}
{'nome': 'Prof(a). Ana', 'idade': 25, 'cursos': ['Inglês', 'Português'], 'Sexo': 'F'}
{'nome': 'Prof(a). Ana', 'idade': 25, 'cursos': ['Inglês', 'Português', 'Python'], 'Sexo': 'F'}

# IF ELSE

In [45]:
a = 3
b = 3

if a != b and a > 2:
    print('iguais') 
else:  
    print('diferentes')

diferentes

In [46]:
nota = 9.3

if nota >= 9:
    print('A')
elif nota >= 8:
    print('B')
elif nota >= 7:
    print('C')
else:
    print('D')

A

# Loop

In [50]:
for i in range(1, 11):
    print('i = {}'.format(i))


for i in range(1, 11):
    for j in range(1, 11):
        print(f'{i} * {j} = {i * j}')

i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
i = 9
i = 10
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [61]:
pessoa1 = {'nome': 'Prof(a). Ana', 'idade': 38, 'cursos': ['Inglês', 'Português']}
pessoa2 = {'nome': 'Andre', 'idade': 36, 'cursos': ['Python', 'React', '.Net', 'Java', 'C#']}
pessoa3 = {'nome': 'Bia', 'idade': 22, 'cursos':  ['Python', 'React', 'C#']}
pessoa4 = {'nome': 'João', 'idade': 29, 'cursos':  [ 'React', '.Net', 'C#']}

lista_pessoas = [pessoa1, pessoa2, pessoa3, pessoa4]

lista_pessoas[2]['cursos'][1]
#print(lista_pessoas)   

for pessoa in lista_pessoas:
    nome = pessoa['nome']
    print(f'A pessoa {nome} cursa:')
    for curso in pessoa['cursos']:
        print(f' - {curso}')

A pessoa Prof(a). Ana cursa:
 - Inglês
 - Português
A pessoa Andre cursa:
 - Python
 - React
 - .Net
 - Java
 - C#
A pessoa Bia cursa:
 - Python
 - React
 - C#
A pessoa João cursa:
 - React
 - .Net
 - C#